useDynLib(Linnorm, .registration = TRUE)
export(Linnorm, Linnorm.limma, Linnorm.PCA, Linnorm.HVar, Linnorm.Cor, RnaXSim)
import(limma)
import(statmod)
import(stats)
import(utils)
import(ggplot2)
import(RcppArmadillo)
import(igraph)

importFrom(Rcpp, evalCpp)
importFrom(fpc,pamk)
importFrom(vegan, cascadeKM)
importFrom(mclust, Mclust, mclustBIC)
importFrom(apcluster, apcluster, negDistMat)
importFrom(ellipse, ellipse)
importFrom(MASS, glm.nb)
importFrom("grDevices", "dev.off", "pdf", "png")
importFrom("graphics", "plot")
